<ilpn-page-layout>
    <h2>
        An implementation of the ideas from
        <br> <a href="https://link.springer.com/chapter/10.1007/978-3-031-06653-5_2">Discovering Unseen Behaviour from Event Logs</a> by A. A. Cervantes and F. Taymouri published at PETRI NETS 2022.
        <br> This implementation uses Petri net regions and is equivalent to the results from the paper with threshold β set to 0.0</h2>
    <hr>

    <div fxLayout="row wrap" fxLayoutAlign="space-evenly start">
        <ilpn-file-upload descriptionText="drop a XES log file here" [showText]="result === undefined" [fileDisplay]="FD_LOG" (fileContent)="processFileUpload($event)"></ilpn-file-upload>
        <ilpn-file-download descriptionText="download partial order Petri nets" [disabled]="result === undefined" [fileDisplay]="FD_PN" [files]="result" zipFileName="partialOrders"></ilpn-file-download>
    </div>

</ilpn-page-layout>
